@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
 
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

body
{
    background-color: #f8f9fa;
}

header {
background-color:#0077b6;
border: solid 1px black;
}
header nav a {
    color: white;
    text-decoration: none;
    }

footer {
        background-color:#0077b6;
        border: solid 1px black;
        }